*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e7ecef;
}

.main{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.play{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.row{
    display: flex;
}

.cell{
    border: none;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.cell :active{
    outline: none;
}

#b1{
border-bottom: 1px solid gray;
border-right: 1px solid gray;
}

#b2{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#b3{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#b4{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

#b5{
    border: 1px solid gray;
}
#b6{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#b7{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

#b8{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#b9{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

#button{
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

#button:hover{
    background-color: #e7ecef;
    border: 1px solid #000;
}
#print{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}